.pad{
    display: grid;
    /* grid-template-columns: 30% 20% 50%; */
    grid-template-columns: repeat(1, 1fr);
    max-width: 960px;
    margin: 150px;
    grid-row-gap:10px ;
    grid-column-gap:10px ;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column: 1 / 7;
    grid-row: 7 / 7;
    align-items: center;
    
}

.game-title{
    font-size: 50px;
    grid-column: 1 / 4;
    grid-row: 2 / 6;
    width: 60%;
    margin: 0 130px;
}

.content input{
    width: 40%;
    margin: 10px ;

}

.content label{
    font-size: 25px;
    background-color: #18bc9c;
    width: 40%;
    padding: 6px;
    margin: 5px ;
    color: #fff;
}

